.vp-doc h3.vp-sponsor-tier {
    margin-top: unset !important;
}

.vp-sponsor-grid {
    margin-top: 4px;
}

/* .vp-sponsor-grid.xmini {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
} */

/* .vp-sponsor-grid.xmini .vp-sponsor-grid-item {
    width: 100%;
} */
